{% extends "base.html" %}

{% block head %}
    <meta name="description" content="You want to sign up for the DV Visa? Start here.">
{% endblock %}

{% block body %}
    <article class="card">
        <div class="card-header">
            <h4>Entry Form</h4>
        </div>
        <div class="card-body">
            <p>The entry form is prepared in two parts, one for the primary Entrant and one for derivatives (if any). Each part must be completed correctly and completely before going to the next part. After all parts are completed, the entry will be submitted to the DV-202X Processing Center. Click the link below to begin the entry process.</p>
            <a href="">Begin Entry</a>
        </div>
    </article>
{% endblock %}