{% extends "base.html" %}
{% load static %}

{% block head %}
    <meta name="description" content="The DV-202X Entry Form.">
    <link rel="stylesheet" href="{% static "entry_form/articles.css" %}">
{% endblock %}

{% block body %}
<h1>Part One - Entrant Information</h1>
<form action="" method="POST">
    {% csrf_token %}

    <article class="card">
        <div class="card-header">
            <h4>1. Name</h4>
        </div>
        <div class="card-body flex-container">
            <div>
                {{ form.last_name.label_tag }}
                <br>
                {{ form.last_name }}
            </div>
            <div>
                {{ form.first_name.label_tag }}
                <br>
                {{ form.first_name }}
            </div>
            <div>
                {{ form.middle_name.label_tag }}
                <br>
                {{ form.middle_name }}
            </div>
        </div>
    </article>
    
    <article class="card">
        <div class="card-header">
            <h4>2. Gender</h4>
        </div>
        <div class="card-body">
        </div>
    </article>
    
    <article class="card">
        <div class="card-header">
            <h4>3. Birth Date</h4>
        </div>
        <div class="card-body">
        </div>
    </article>
    
    <article class="card">
        <div class="card-header">
            <h4>4. City Where You Were Born</h4>
        </div>
        <div class="card-body">
        </div>
    </article>
    
    <article class="card">
        <div class="card-header">
            <h4>5. Country Where You Were Born</h4>
        </div>
        <div class="card-body">
        </div>
    </article>
    
    <article class="card">
        <div class="card-header">
            <h4>6. Country of Eligibility for the DV Program</h4>
        </div>
        <div class="card-body">
        </div>
    </article>
    
    <article class="card">
        <div class="card-header">
            <h4>7. Entrant Photograph</h4>
        </div>
        <div class="card-body">
        </div>
    </article>
    
    <article class="card">
        <div class="card-header">
            <h4>8. Mailing Address</h4>
        </div>
        <div class="card-body">
        </div>
    </article>
    
    <article class="card">
        <div class="card-header">
            <h4>9. Country Where You Live Today</h4>
        </div>
        <div class="card-body">
        </div>
    </article>
    
    <article class="card">
        <div class="card-header">
            <h4>10. Phone Number</h4>
        </div>
        <div class="card-body">
        </div>
    </article>
    
    <article class="card">
        <div class="card-header">
            <h4>11. E-mail Address</h4>
        </div>
        <div class="card-body">
        </div>
    </article>
    
    <article class="card">
        <div class="card-header">
            <h4>12. What is the highest level of education you have achieved, as of today?</h4>
        </div>
        <div class="card-body">
        </div>
    </article>
    
    <article class="card">
        <div class="card-header">
            <h4>13. What is your current marital status?</h4>
        </div>
        <div class="card-body">
        </div>
    </article>
    
    <article class="card">
        <div class="card-header">
            <h4>14. Number of Children</h4>
        </div>
        <div class="card-body">
        </div>
    </article>
</form>
{% endblock %}