{% extends "base.html" %}
{% load static %}

{% block head %}
    <meta name="description" content="The DV-202X Entry Form.">
    <link rel="stylesheet" href="{% static "entry_form/articles.css" %}">
{% endblock %}

{% block body %}
<h1>Part One - Entrant Information</h1>
<form action="" method="POST">
    {% csrf_token %}

    <article class="card">
        <div class="card-header">
            <h4>1. Name</h4>
        </div>
        <div class="card-body flex-container">
            <div>
                {{ form.last_name.label_tag }}
                <br>
                {{ form.last_name }}
            </div>
            <div>
                {{ form.first_name.label_tag }}
                <br>
                {{ form.first_name }}
            </div>
            <div>
                {{ form.middle_name.label_tag }}
                <br>
                {{ form.middle_name }}
            </div>
        </div>
    </article>
    
    <article class="card">
        <div class="card-header">
            <h4>2. Gender</h4>
        </div>
        <div class="card-body">
            {% for radio in form.gender %}
            {% if radio.id_for_label != "id_gender_0" %}
                {{ radio.tag }}
                {{ radio.choice_label }}
            {% endif %}
            {% endfor %}
        </div>
    </article>
    
    <article class="card">
        <div class="card-header">
            <h4>3. Birth Date</h4>
        </div>
        <div class="card-body flex-container">
            <div>
                {{ form.birth_month.label_tag }}
                <br>
                {{ form.birth_month }}
            </div>
            <div>
                {{ form.birth_day.label_tag }}
                <br>
                {{ form.birth_day }}
            </div>
            <div>
                {{ form.birth_year.label_tag }}
                <br>
                {{ form.birth_year }}
            </div>
        </div>
    </article>
    
    <article class="card">
        <div class="card-header">
            <h4>4. City Where You Were Born</h4>
        </div>
        <div class="card-body">
            <div>
                {{ form.birth_city.label_tag }}
                <br>
                {{ form.birth_city }}
            </div>
        </div>
    </article>
    
    <article class="card">
        <div class="card-header">
            <h4>5. Country Where You Were Born</h4>
        </div>
        <div class="card-body">
            <div>
                {{ form.birth_country.label_tag }}
                <br>
                {{ form.birth_country }}
            </div>
        </div>
    </article>
    
    <article class="card">
        <div class="card-header">
            <h4>6. Country of Eligibility for the DV Program</h4>
        </div>
        <div class="card-body">
            <div>
                {{ form.eligibility_country.label_tag }}
                <br>
                {{ form.eligibility_country }}
            </div>
        </div>
    </article>
    
    <article class="card">
        <div class="card-header">
            <h4>7. Entrant Photograph</h4>
        </div>
        <div class="card-body">
            {{ form.entrant_photograph }}
        </div>
    </article>
    
    <article class="card">
        <div class="card-header">
            <h4>8. Mailing Address</h4>
        </div>
        <div class="card-body">
            <div>
                a. {{ form.mailing_address_in_care_of.label_tag }}
                <br>
                {{ form.mailing_address_in_care_of }}
            </div>
            <div>
                b. {{ form.mailing_address_address_line_one.label_tag }}
                <br>
                {{ form.mailing_address_address_line_one }}
            </div>
            <div>
                c. {{ form.mailing_address_address_line_two.label_tag }}
                <br>
                {{ form.mailing_address_address_line_two }}
            </div>
            <div>
                d. {{ form.mailing_adress_city.label_tag }}
                <br>
                {{ form.mailing_adress_city }}
            </div>
            <div>
                e. {{ form.mailing_adress_provence.label_tag }}
                <br>
                {{ form.mailing_adress_provence }}
            </div>
            <div>
                f. {{ form.mailing_address_zip_code.label_tag }}
                <br>
                {{ form.mailing_address_zip_code }}
            </div>
            <div>
                g. {{ form.mailing_address_country.label_tag }}
                <br>
                {{ form.mailing_address_country }}
            </div>
        </div>
    </article>
    
    <article class="card">
        <div class="card-header">
            <h4>9. Country Where You Live Today</h4>
        </div>
        <div class="card-body">
            <div>
                {{ form.resident_country }}
            </div>
        </div>
    </article>
    
    <article class="card">
        <div class="card-header">
            <h4>10. Phone Number</h4>
        </div>
        <div class="card-body">
            <div>
                {{ form.phone_number }}
            </div>
        </div>
    </article>
    
    <article class="card">
        <div class="card-header">
            <h4>11. E-mail Address</h4>
        </div>
        <div class="card-body">
            <div>
                {{ form.e_mail }}
            </div>
        </div>
    </article>
    
    <article class="card">
        <div class="card-header">
            <h4>12. What is the highest level of education you have achieved, as of today?</h4>
        </div>
        <div class="card-body">
            {% for radio in form.education_level %}
            {% if radio.id_for_label != "id_education_level_0" %}
                <div>
                    {{ radio.tag }}
                    {{ radio.choice_label }}
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </article>
    
    <article class="card">
        <div class="card-header">
            <h4>13. What is your current marital status?</h4>
        </div>
        <div class="card-body">
            {% for radio in form.marital_status %}
            {% if radio.id_for_label != "id_marital_status_0" %}
                <div>
                    <!-- {{ radio.id_for_label }} -->
                    {{ radio.tag }}
                    {{ radio.choice_label }}
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </article>
    
    <article class="card">
        <div class="card-header">
            <h4>14. Number of Children</h4>
        </div>
        <div class="card-body">
            <div>
                {{ form.number_of_children }}
            </div>
        </div>
    </article>
</form>
{% endblock %}